.sceditor-container {
	border-radius: .25rem;
	height: unset;
}

.sceditor-container iframe, .sceditor-container textarea {
	min-height: 150px;
}

div.sceditor-toolbar:empty {
	display: none;
}

.sceditor-button-youtube div { background: url("../../images/tmpl/editor/defaultdark/youtube.png") no-repeat center center !important; }
.sceditor-button-fv div { background: url("../../images/tmpl/editor/defaultdark/fv.png") no-repeat center center !important; }
.sceditor-button-instagram div { background: url("../../images/tmpl/editor/defaultdark/instagram.png") no-repeat center center !important; }
.sceditor-button-vimeo div { background: url("../../images/tmpl/editor/defaultdark/vimeo.png") no-repeat center center !important; }
.sceditor-button-wiki div { background: url("../../images/tmpl/editor/defaultdark/wiki.png") no-repeat center center !important; }
