.sceditor-container {
	border-radius: .25rem;
	height: unset;
}

.sceditor-container iframe, .sceditor-container textarea {
	min-height: 150px;
}

div.sceditor-toolbar:empty {
	display: none;
}

.sceditor-button-youtube div { background: url("../../images/tmpl/editor/square/youtube.png") no-repeat center center !important; }
.sceditor-button-fv div { background: url("../../images/tmpl/editor/square/fv.png") no-repeat center center !important; }
.sceditor-button-instagram div { background: url("../../images/tmpl/editor/square/instagram.png") no-repeat center center !important; }
.sceditor-button-vimeo div { background: url("../../images/tmpl/editor/square/vimeo.png") no-repeat center center !important; }
.sceditor-button-wiki div { background: url("../../images/tmpl/editor/square/wiki.png") no-repeat center center !important; }

@font-face {
	font-family: "Twemoji Mozilla";
	src: url("../../fonts/Twemoji.Mozilla.ttf");
}

div.sceditor-emoji {
	min-width: 25%;
	width: 50%;
}

div.emojis-dd-container {
	overflow-y: scroll;
	min-height: 150px;
}

div.emoji-chars .group-title {
	color: #555;
	font-weight: 600 !important;
	margin-bottom: .25rem !important;
	display: block !important;
}

div.emoji-chars .subgroup-title {
	color: #b0b0b0;
	display: block !important;
	border-bottom: 1px solid #eaeaea;
	font-weight: 600;
	margin: .2rem 0;
}

div.emoji-chars .emojis {
	margin-bottom: .5rem;
}

div.emoji-chars i {
	display: inline-block;
	font-family: "Noto Color Emoji", "Apple Color Emoji", "Twemoji Mozilla", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
	font-size: 1.5em;
	font-style: normal;
	font-variant-emoji: emoji;
	margin: 1px;
	transition: all 200ms ease-in-out;
	text-decoration: none;
	cursor: pointer;
}

div.emoji-chars i:hover {
	transform: scale(150%);
}

/* Set default image width if Twemoji is used */
div.emoji-chars i > img, img.emoji {
	width: 21px;
}

div.emojis-tabs .nav.nav-tabs {
	box-shadow: inset 0 1px #fff,0 2px 3px -3px rgba(0,0,0,.15),inset 0 -2px 0 rgba(0,0,0,.05),1px 1px 2px rgba(0,0,0,.1);
}

div.emojis-tabs .nav-link {
	padding: .3em .5em !important;
}

.emojis-tabs ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	border-bottom: 1px solid #eee;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.emojis-tabs ul li a {
	display: block;
	outline: none;
	padding: 1rem;
	text-decoration: none;
	border: 1px solid #eee;
	border-bottom: 0;
	background-color: #eee;
	color: #000;
	transform: translateY(1px);
	-webkit-transform: translateY(1px);
	-moz-transform: translateY(1px);
}
.emojis-tabs ul li a.active {
	background-color: #FFF;
}
.emojis-tabs > div > div {
	display: none;
	border: 1px solid #eee;
	border-top: 0;
	padding: .25rem;
}
.emojis-tabs > div > div.active {
	display: block;
}
